<div class="container">

	<div class="nav-bar"><app-nav-bar></app-nav-bar></div>

	<div class="side-bar"><app-side-bar></app-side-bar></div>
		
	<div class="content">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->
                <button pButton pRipple label="Crear Cliente" icon="pi pi-plus" class="p-button-success mr-2" (click)="showDialog()"></button>
                <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
            </ng-template>
        
            <ng-template pTemplate="right">
                <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
            </ng-template>
        </p-toolbar>
        
        <div class="card">
            <p-table
                [value]="(customers$ | async)"
                [paginator]="true"
                [columns]="cols"
                [rows]="10"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem', 'min-height': '450px' }"
                currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} Elementos"
                [rowsPerPageOptions]="[10, 25, 50]"
                styleClass="p-datatable-sm"
                [scrollable]="true"
                scrollHeight="450px"
            >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">{{ col.header }}</th>
                        <!-- <th style="width:min-content" pSortableColumn="personalId">Cedula <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="personalId">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                        <th style="width:min-content">Celular</th>
                        <th >Email</th>
                        <th style="width:min-content">Acciones</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>{{ customer.personalId }}</td>
                        <td>{{ customer.name + ' ' + customer.lastName }}</td>
                        <td>{{ customer.cellphone }}</td>
                        <td>{{ customer.email }}</td>
                        <td>
                            <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-info p-button-text" (onClick)="showDialog(customer)"></p-button>
                            <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text" (onClick)="deleteCustomer(customer)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

	</div>
	
	<div class="footer"><app-footer></app-footer></div>
	
</div>